/* ==========================================================================
   Base & Layout
   ========================================================================== */

.main-content {
	max-width: 1200px;
	margin: 0 auto;
}

.container {
	font-family: sans-serif;
	font-size: 0.8em;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: space-between;
	align-content: space-between;
	padding: 10px 50px;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
	margin-bottom: 10px;
}

header .container {
	padding: 0px;
}

header h1,
.name-page {
	font-family: sans-serif;
	padding: 10px 0px;
	font-size: 1.8em;
}

.name-page {
	max-width: 70%;
}

/* ==========================================================================
   Components
   ========================================================================== */

/* Buttons & Icons
   -------------------------------------------------------------------------- */
button {
	font-size: 1.4em;
}


botton button,
header button {
	font-size: 2.4em;
}

.side-button {
	justify-content: flex-start;
}

svg {
	padding: 2px;
}

/* Bill & Coin Items
   -------------------------------------------------------------------------- */

.value {
	width: 30%;
	max-width: 100px;
}

.coin {
	color: darkgoldenrod;
}

.bill {
	color: darkgreen;
}

.bill-quantity {
	min-width: 40%;
	width: auto;
}

/* Totals Section
   -------------------------------------------------------------------------- */

.total {
	margin-top: 25px;
	padding-right: 70px;
}

.total-label {
	width: 25%;
}

.total>h1 {
	font-family: sans-serif;
	font-size: 1.6em;
	margin-bottom: 15px;
}

.total>h1>i {
	font-size: 0.7em;
}

.total>h2 {
	font-family: sans-serif;
	font-size: 1.2em;
	margin-bottom: 15px;
}

/* Observations Section
   -------------------------------------------------------------------------- */

.observations {
	justify-content: flex-start;
}

.observations h2 {
	font-family: sans-serif;
	font-size: 1.2em;
}

.observations>div {
	flex-grow: 1;
}

.observation {
	width: 90%;
}


/* ==========================================================================
   Utility Classes
   ========================================================================== */

.transparent {
	border: none;
	background-color: transparent;
}

.dateStamp {
	color: darkgray;
}

.onlyprint {
	visibility: hidden;
}


/* ==========================================================================
   Print Styles
   ========================================================================== */

@media print {
	input {
		border: none;
	}

	.noprint {
		display: none;
	}

	.onlyprint {
		visibility: visible;
	}

	.container {
		break-after: always;
		/* for firefox */
		page-break-after: always;
		/* for webkit */
		-webkit-column-break-after: always;
	}
}